.country-h1 {
    width: 35%;
}

.country-h2, .country-h6 {
    width: 10%;
}

.country-h3, .country-h4, .country-h5 {
    width: 15%;
}

.country-h6 {
    text-align: center;
}

.table-header th button {
    background: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
    width: 100%;
}

.table-header th button:hover {
    color: rgb(32, 223, 108);
}

.table-row td {
    padding: 15px 10px 15px 0;
    vertical-align: middle;
}

.actions {
    text-align: center;
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 15px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    padding: 5px;
    border-radius: 50%;
    transition: 0.2s ease;
}

.icon-button:hover {
    transform: scale(1.2);
}

.edit-button i {
    color: #2093ff;
}

.delete-button i {
    color: #dc3545;
}

.sort-arrow {
    font-size: 0.8em;
    margin-left: 5px;
}

/* --- Responsividade da Tabela --- */

@media (max-width: 768px) {
    .table {
        min-width: 600px; /* Força uma largura mínima para ativar o scroll */
        font-size: 14px; /* Fonte menor */
    }

    .table-header {
        height: 40px;
    }

    .table-row td {
        padding: 10px 5px;
    }

    /* Ícones menores para economizar espaço */
    .icon-button {
        font-size: 18px;
        padding: 2px;
    }
    
    .actions {
        gap: 5px !important;
    }
}