.table {
    margin-top: 40px;
    border: 1px solid #50505070;
    border-radius: 20px;
    padding: 20px;
    text-align: justify;
}

.table-header {
    height: 50px;
    vertical-align: top;
}

.table-header th {
    border-bottom: 1px solid #50505070;
}

.table-row {
    height: 50px;
    text-align: start;
}

.edit-button i {
    color: #2093ff;
}

.delete-button i {
    color: #dc3545;
}

.view-button i {
    color: rgb(40, 190, 100);
}