.h1 {
    width: 45%;
}

.h2, .h3, .h4, .h6 {
    width: 10%;
}

.h5 {
    width: 15%;
}

.h6 {
    text-align: center !important;
}

.table {
    margin-top: 40px;
    border: 1px solid #50505070;
    border-radius: 20px;
    padding: 20px;
    text-align: justify;
}

.table-header {
    height: 50px;
    vertical-align: top;
}

.table-header th {
    border-bottom: 1px solid #50505070;
}

.table-row {
    height: 50px;
    text-align: start;
}

.edit-button i {
    color: #2093ff;
}

.delete-button i {
    color: #dc3545;
}

.view-button i {
    color: rgb(40, 190, 100);
}

/* --- Responsividade da Tabela --- */

@media (max-width: 768px) {
    .table {
        min-width: 600px; 
    }

    .table-header {
        height: 40px;
    }

    th {
        font-size: 16px;
    }

    .table-row td {
        padding: 10px 6px;
        font-size: 16px;
    }

    .icon-button {
        font-size: 18px;
        padding: 2px;
    }
    
    .actions {
        gap: 5px !important;
    }

    button {
        font-size: 20px;
    }
}