.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
    background-color: white;
}

.form-group small {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
    display: block;
}