.card-title {
    font-size: 28px;
}

.card-content {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 6px 6px 8px rgba(32, 223, 108, 0.1);
    transition: 0.2s ease;
    min-height: 150px;
}

.card-content:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .card-title {
        font-size: 24px;
    }

    .desc-title {
        font-size: 18px;
    }
}