.navButton {
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    transition: 0.2s ease;
}

.navButton:hover {
    background-color: rgb(32, 223, 108);
    color: white;
}