.modal-form h2 {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.form-group input,
.form-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 18px;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.form-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.btn-cancel {
    background-color: #f0f0f0;
    color: #555;
    transition: 0.3s ease;
}

.btn-cancel:hover {
    background-color: #cccccc;
}

.btn-submit {
    background-color: rgb(32, 223, 108);
    color: white;
    transition: 0.3s ease;
}

.btn-submit:hover {
    background-color: rgb(35, 241, 118);
}

.form-error {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

#descricao {
    resize: none;
}