.header {
    display: flex;
    flex-direction: row;
    width: 97%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.logo {
    padding: 5px;
    align-items: center;
    font-size: 30px;
}

.navbar {
    display: flex;
    justify-content: end;
    gap: 25px;
    align-items: center;
}