.header {
    display: flex;
    flex-direction: row;
    width: 97%;
    margin: 0 auto 30px auto;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgb(32, 223, 108);
}

.logo {
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
}

.logo img {
    height: 35px;
    vertical-align: middle;
    margin-right: 15px;
}


.navbar {
    display: flex;
    justify-content: end;
    gap: 25px;
    align-items: center;
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
        gap: 15px;
    }

    .navbar {
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
    }
}