.footer {
    width: 97%;
    position: sticky;
    bottom: 0;
    left: 10px;
    padding: 15px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid rgb(32, 223, 108);
    align-items: center;
    vertical-align: auto;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-icons i {
    font-size: 35px;
}

.footer-icons a {
    transition: 0.2s ease;
    padding-top: 6px;
}

.footer-icons a:hover {
    transform: scale(1.2);
    color: rgb(32, 223, 108);
}

@media (max-width: 768px) {
    p {
        font-size: 18px;
    }

    .footer-icons {
        flex-wrap: wrap;
    }
    .footer-icons i {
        font-size: 28px;
    }
}