@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #333;
    margin: 0;
    padding: 0;
}